alias ga='git add' 
alias gb='git branch' 
alias gc='git commit -m' 
alias gca='git commit -am' 
alias gch='git checkout' 
alias gd='git diff' 
alias gf='git fetch' 
alias gfo='git fetch origin' 
alias gl='git log' 
alias glo='git log --oneline' 
alias gp='git push' 
alias gpu='git pull' 
alias gs='git status' 
alias pa='php artisan' 
alias pas='php artisan serve' 
alias pat='php artisan tinker' 
alias pah='php artisan help' 
alias pam='php artisan migrate ' 
alias pamfs='php artisan migrate:fresh --seed' 
alias pamro='php artisan migrate:rollback' 
alias pamm='php artisan make:model' 
alias pammi='php artisan make:migration' 
alias pamc='php artisan make:controller' 
alias pams='php artisan make:seeder' 
alias pamf='php artisan make:factory' 
alias pads='php artisan db:seed' 
alias pah='php artisan help' 
alias par='php artisan relate' 
alias padr='php artisan db:reseed' 
alias pamcr='php artisan make:crud' 
alias pal='php artisan list' 
alias codal='composer dump-autoload' 
#alias sql='mycli -u root' 
alias coi='composer install' 
alias cou='composer update' 
alias yrd='yarn run dev' 
alias yw='yarn watch' 
alias ni='npm install' 
alias nrd='npm run dev' 
alias nrw='npm run watch' 
alias sdn='shutdown now' 
alias sus='systemctl suspend'
alias myclir='mycli -u root -proot'
alias tiz='tizonia --soundcloud-playlists'
alias programming='tizonia --soundcloud-playlists programming'
alias work='cd /var/www/'
alias gd='git checkout develop'
alias unit='./vendor/bin/phpunit'


